<h1>Welcome to Sample app using Redis.</h1>

<form action="users/show">
	Name:     <input type="text"><br><br><br>
	Email ID: <input type="text"><br><br><br>
	<input type="submit" name="Submit">
</form>

