<html>
<head>
	<title> Show</title>
</head>
<body>	
	<table>
		<h1> In show</h1>
		<tr>
			<td>Username: </td>
			<td>Email: </td>
		</tr>
	
		<tr>
			<td><%= @user.name %></td>
			<td><%= @user.email %></td>
		</tr>
	
	</table>
</body>
</html>
